<html>
<head>
    <title>Employee</title>
</head>
<body>
    @RenderPage("~/_Header.cshtml")

    <div class=" body">
        @RenderBody()
    </div>

    @RenderPage("~/_Footer.cshtml")
</body>
</html>