<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<add name="NORTHWNDEntities"
		     connectionString="metadata=res://*/ModelADO.csdl|res://*/ModelADO.ssdl|res://*/ModelADO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAMES-PC\SQLEXPRESS;initial catalog=NORTHWND;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		     providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>