<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<!-- To customize the asp.net core module uncomment and edit the following section.
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<system.diagnostics>
		<switches>
			<!-- This switch controls general messages. in orde to
			recieve general trace messages change rhe value to the
			appropriae level. "1" gives error message "2" gives errors and warnings,
			"3" gives more detailed information and "4" gives verbose trace information-->
			<add name="General" value="4" />
		</switches>
	</system.diagnostics>
	<system.webServer>
		<handlers>
			<remove name="aspNetCore" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore requestTimeout="00:15:00" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%"
		            stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
	</system.webServer>
	<connectionStrings>
		<add name="NORTHWNDEntities"
		     connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAMES-PC\SQLEXPRESS;initial catalog=NORTHWND;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		     providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>