@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<h2>App State</h2>

<h2>Session Data : @ViewBag.SessionData</h2>
@Html.ActionLink("Get Data", "Index")
