@model AuthenticatedSchoolSystem.Models.Back_End.BlogView

@{
    ViewBag.Title = "Blog";
}

<h2>Blog</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>BlogView</h4>
        <hr/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.TextBoxFor(m => m.MyPost.data)
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>

        <div>
            @{ Html.RenderPartial("~/Views/Home/_BlogPosts.cshtml", Model.posts); }
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Scripts.Render("~/bundles/jqueryval")